html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #DEDEDE;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar{
    background-color: white;
}
.post{
    background-color: white;
    width:250px;
    height:400px;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}
.post .img img{
    width:100%;
}
.post .title{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.post .text{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    height: 30%;
    margin: auto;
    width: 90%;

}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: white;
    color:black;
}
.navbar-inverse .navbar-nav > .active > a:hover{
    color:#A6C78D;
}

.navbar-inverse .navbar-nav > li > a {
    color:black;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:#A6C78D;
}

.navbar-collapse {
    width: 900px;
}

.container > .navbar-header{
    margin-left: 200px;
}
.post-content{
    margin: auto;
    margin-left: 12px;
    width: 90%;
    height: 90%;
    border-bottom: 1px dotted black;
    position: absolute;
}
.pagination{
    display: block;
    width: 200px;
    float: right;
    position: relative;
}
.inside{
    display: block;
    position: relative;
    margin-top: 83px;
}
.pagination > .active > a{
    background-color: white;
    border-color: white;
    color:black;
}
.pagination > li > a, .pagination > li > span{
    border:0;
    background-color: white;
    border-color: white;
    color:black;
}
.pagination > .disabled > span{
    color:black;
}